div(ng-controller="ButtonsCtrl")
    h4 Single toggle
    pre {{singleModel}}
    button.btn.btn-primary(type="button", ng-model="singleModel", btn-checkbox=, btn-checkbox-true="1", btn-checkbox-false="0") Single Toggle
    h4 Checkbox
    pre {{checkModel}}
    div.btn-group
        button.btn.btn-primary(ng-model="checkModel.left", btn-checkbox=) Left
        button.btn.btn-primary(ng-model="checkModel.middle", btn-checkbox=) Middle
        button.btn.btn-primary(ng-model="checkModel.right", btn-checkbox=) Right
    h4 Radio
    pre {{radioModel}}
    div.btn-group
        button.btn.btn-primary(ng-model="radioModel", btn-radio="'Left'") Left
        button.btn.btn-primary(ng-model="radioModel", btn-radio="'Middle'") Middle
        button.btn.btn-primary(ng-model="radioModel", btn-radio="'Right'") Right
